* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 800px;
  font-size: 18px;
  font-family: sans-serif;
  color: #5D6063;
}

a:link,
a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 50px 0;
  background: #000;
    border: 10px solid green;
}

.menu {
  margin-top: 15px;
  border: 10px solid blue;
    border: 10px solid red;
}

.menu > li {
  display: inline;
  margin-right: 50px;
  border: 10px solid blue;
}

.menu li:last-of-type {
  margin-right: 0;
}
