* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 800px;
  font-size: 18px;
  font-family: sans-serif;
  color: #5D6063;
  cursor: default;
}

a:link,
a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #73C055;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;

  height: 100px;
  width: 100%;
  padding: 20px 0;
  background: #000;

/*  border: 10px solid blue; */
}


.logo{
  flex: 2;
  display: flex;
  align-items: center;
  padding-left: 45px;
  /*border: 1px solid red;*/


}

.menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /*border: 1px solid red;*/
}

.menu > li {
  display: inline;
  margin-right: 70px;
  /*border: 10px solid blue;*/

}

.menu li:last-of-type {
  margin-right: 120px;
}


.logo img {
  width: 40%;
  display: block;
/*  border: 10px solid purple; */
}

.intial_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #000;
}

.background_main {
  height: auto;
  justify-content: inherit;
  align-items: inherit;
}

.illustration{
  width: 100%;
  display: block;
}

.illustration img {
  width: 100%;
  display: block;
}

.footer {
  display: flex;
  position: fixed;
  /*bottom: -120px;*/
  background: #000;
  padding: 0.5em 0.5em;
  font-size: 1.5em;
  justify-content: space-between;
   margin: auto auto 0 auto;
}

.footer p {
  font-size: 0.5em;
  color: white;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: left;
  position: absolute;
  width: 50.5em;
  padding: 1em 2em;
}

.direccion {
  text-decoration: underline white;
  color: white;
}

.direccion:hover {
  color: #73C055;
}


.social-icons {
  display: flex;
  list-style: none;
  /*padding-left: 80%;*/
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Hover effect */
.fa:hover {
    color: #73C055;
}

.fa:active {
    color: #E2871C;
}

/* Facebook */
.fa-facebook {
    /*background: #3B5998;*/
    color: white;
}

/* Twitter */
.fa-twitter {
  /*  background: #55ACEE;*/
    color: white;
}

/* GitHub */
.fa-github {
  /*  background: #55ACEE;*/
    color: white;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #000;
    /*background-color: #F09A9D; /* Red */
  }
  .logo img {
    width: 85%;
    display: block;
  }
  .hide_mobile {
    display: none;
  }
  .footer{
    justify-content: center;
  }
  .menu {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /*background-color: #F5CF8E; /* Yellow */
    /*width: 50%;*/
    background-color: #000;
  }

  .logo img {
    width: 60%;
    display: block;
  }

  .hide_mobile{
    display: none;
  }
  .footer{
    justify-content: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .initial_page{
    width: 100%;
    margin: 0 auto;
    background: #000;
    height: 100%;
    /*background: #B2D6FF; /* Blue */
  }
  /*.initial_page{
      width: 960px;
      margin: 0 auto;
      /*border: 10px solid red;
  }*/
  .background_main {
    height: 400px;
  }
}
